header h1{
    color: green;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
#food{
    border-radius: 100px;
    margin: 10px;
    object-fit: cover;
}
table{
    /* border:4px double black; */
    border-collapse: collapse;
}
.table-header{
    font-weight: bolder;
    /* font-size: xx-large; */
}
td, th{
    border: 2px double black;
    padding: 5px 10px;